<!DOCTYPE html>
<html>
  <head>
    <title>Reason Blog | Igor Tozetti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="h-screen bg-zinc-900 items-start flex flex-col">
    <header class="bg-zinc-950/90 text-zinc-50 py-8 flex flex-col w-full">
      <%= link_to root_path, class: 'text-zinc-50 text-zinc-50 text-center' do %>
        <h1 class="text-2xl font-bold">Apenas um blog</h1>
        <p class="text-sm">Desenvolvimento Web, Tecnologia & Games.</p>
      <% end %>
    </header>
    <div class="w-2/4 mx-auto">
      <% flash.each do |type, message| %>
        <p class="text-center my-4 text-zinc-50 <%= type == 'alert' ? 'bg-red-500' : 'bg-green-500 rounded-md p-2'%>"><%= message %></p>
      <% end %>
      <div class="text-zinc-50 my-10">
        <div class="w-96 ml-auto my-2">
          <%= form_with url: search_posts_path, local: true, class: 'flex gap-2 ', method: :get do |form| %>
            <%= form.search_field :q, value: params[:q], placeholder: 'Buscar', class: 'border border-zinc-600 bg-zinc-800 w-full rounded-md focus:outline-none focus:ring-2 focus:ring-red-600 focus:border-transparent', required: true%>
            <%= form.submit 'Enviar', class: 'bg-zinc-800 rounded-md px-4 cursor-pointer border border-transparent hover:border-zinc-600 transition-all' %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
    <footer class="bg-zinc-950 text-center py-4 text-zinc-50 mt-auto w-full">Copyright<span class="text-red-500">.</span> All rights reserved - <span class="text-red-500"><%= Date.current.year %></span>
    </footer>
  </body>
</html>
