<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="h-screen bg-zinc-900 items-start flex flex-col">
    <header class="bg-zinc-950 text-zinc-50 py-6 flex flex-col w-full">
      <%= link_to root_path, class: 'text-zinc-50 text-zinc-50 text-center' do %>
        <h1 class="text-4xl">Reason.</h1>
        <p>Aqui você encontrará conteudos sobre desenvolvimento web, tecnologia e games.</p>
      <% end %>
    </header>
    <div class="w-3/4 mx-auto ">
      <div class="text-zinc-50 mt-6">
        <%= yield %>
      </div>
    </div>
    <footer class="bg-zinc-950 text-center py-4 text-zinc-50 mt-auto w-full">Copyright<span class="text-red-500">.</span> All rights reserved - <span class="text-red-500"><%= Date.current.year %></span>
    </footer>
  </body>
</html>
